<div class="top-nav">
    <h1>MyMenu</h1>
    <a href="/logout">Logout</a>
</div>
<!-- <<p class="header">Welcome, <%= fc.fc_name %></p>
<%- include ('./partials/messages') %>> -->
<section name="head">
    <div class="header">
        <h2>Welcome, <%= fc.fc_name %></h2>
    </div>
</section>

<section name="forms">
    <div id="date-pick">
        <h3>Choose date: </h3>
        <input type="date" name="menu_date" id="menu_date">
    </div>
    <hr>
    <div id="meals">
        <div class="meal-form" id="breakfast">
            <h3>Breakfast</h3>
            <% for(var i = 0; i < 10; i++) { %>
            <input type="text" id="breakfast<%= i %>" class="item-input" placeholder="Breakfast">
            <% } %>
        </div>
        <hr class="meal-separate">
        <div class="meal-form" id="lunch">
            <h3>Lunch</h3>
            <% for(var i = 0; i < 10; i++) { %>
            <input type="text" id="lunch<%= i %>" class="item-input" placeholder="Lunch">
            <% } %>
        </div>
        <hr class="meal-separate">
        <div class="meal-form" id="snacks">
            <h3>Snacks</h3>
            <% for(var i = 0; i < 10; i++) { %>
            <input type="text" id="snacks<%= i %>" class="item-input" placeholder="Snacks">
            <% } %>
        </div>
        <hr class="meal-separate">
        <div class="meal-form" id="dinner">
            <h3>Dinner</h3>
            <% for(var i = 0; i < 10; i++) { %>
            <input type="text" id="dinner<%= i %>" class="item-input" placeholder="Dinner">
            <% } %>
        </div>
    </div>
    <button onclick="showModal()">Bon Appetit</button>
</section>
<div id="modal">
    <div id="modal-content">
        <div id="modal-header"></div>
        <div class="modal-lists">
            <div class="meal-list">
                <div class="modal-subheader">
                    Breakfast
                </div>
                <div class="modal-menu" id="modal-breakfast"></div>
            </div>
            <div class="meal-list">
                <div class="modal-subheader">
                    Lunch
                </div>
                <div class="modal-menu" id="modal-lunch"></div>
            </div>
            <div class="meal-list">
                <div class="modal-subheader">
                    Snacks
                </div>
                <div class="modal-menu" id="modal-snacks"></div>
            </div>
            <div class="meal-list">
                <div class="modal-subheader">
                    Dinner
                </div>
                <div class="modal-menu" id="modal-dinner"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/dashboard.js"></script>