<%- include ('./partials/navbar') %>


<div class="login-page">
    <div class="form">
        <form class="login-form" action="/login" method="POST">
            <input type="email" name="fc_email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>
            <p class="msg">Not registered? <a href="/register">Create an account</a></p>
            <%- include ('./partials/messages') %>
        </form>
    </div>
</div>













<!-- <form action="/login" method="POST">

    <label for="email">Email</label>
    <input type="email" id="fc_email" name="fc_email"><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password"><br>

    <button type="submit">Login</button>
</form> -->