<%- include ('./partials/navbar') %>
<%- include ('./partials/messages') %>
<div class="login-page">
    <div class="form">
        <form class="login-form" action="/login" method="POST">
            <input type="text" name="fc_name" placeholder="Foodcourt Name">
            <input type="email" name="fc_email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="password2" placeholder="Enter password again">
            <button type="submit">Register</button>
            <p class="msg">Already registered? <a href="/login">Login</a></p>
        </form>
    </div>
</div>