@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

.top-nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  background-color: rgb(245, 110, 48);
}

.top-nav h1 {
  font-size: 2rem;
  /* change in mobile */
  color: beige;
}

/* ------------------- LOGIN PAGE ----------------------*/

.login-page {
  max-width: 500px;
  max-height: 260px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(245, 110, 48);
  padding: 20px;
  border-radius: 10px;
}

/* Login Form */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 100%;
  margin-top: 20px;
  font-size: 1.4rem;
  padding: 15px 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
}

.login-form button {
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: white;
  color: rgb(245, 110, 48);
  width: 80%;
  font-size: 1.4em;
  font-weight: bold;
}

.msg {
  font-size: 1rem;
  margin-top: 20px;
  color: rgb(255, 190, 146);
}

.msg a {
  color: beige;
}

#snackbar {
  visibility: hidden;
  width: 100%;
  margin-top: 40px;
  background-color: rgb(245, 110, 48);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  font-weight: bold;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

/* ------------------- DASHBOARD ----------------------*/

.top-nav a {
  margin-left: auto;
  margin-right: 20px;
  color: beige;
  font-size: 1.2rem;
}

section[name="head"] {
  margin: 20px 20px;
}

.header {
  font-size: 1.6rem;
  color: rgb(245, 110, 48);
}

section[name="forms"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 20px;
  background-color: rgb(245, 110, 48);
  border-radius: 10px;
}

hr {
  width: 90%;
  color: beige;
  border: solid;
  border-width: 2px;
  margin: 10px auto;
}

#date-pick {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 10px;
}

#date-pick h3 {
  text-align: center;
  font-size: 1.4rem;
  color: beige;
  margin-bottom: 10px;
  margin-right: 20px;
  padding-top: 7px;
}

#date-pick input[type="date"] {
  font-size: 1.4rem;
  border: none;
  background-color: beige;
  color: rgb(245, 110, 48);
  padding: 10px;
  border-radius: 10px;
}

#meals {
  display: flex;
  justify-content: space-evenly;
}

.meal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.meal-form h3 {
  font-size: 1.4rem;
  color: beige;
  margin-bottom: 10px;
}

.item-input {
  margin: 7.5px 10px;
  border: none;
  border-radius: 10px;
  padding: 11px 20px;
  font-size: 1rem;
}

.meal-separate {
  width: 90%;
  color: beige;
  border: solid;
  border-width: 2px;
  margin: 10px auto;
  display: none;
}

section[name="forms"] button {
  width: 90%;
  background-color: beige;
  border: none;
  border-radius: 30px;
  color: rgb(245, 110, 48);
  font-size: 1.6rem;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
}

section[name="forms"] button:hover {
  background-color: rgb(226, 226, 202);
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

#modal-content {
  background-color: beige;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.modal-header {
  font-size: 1rem;
}

.modal-lists {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (max-width: 801px) {
  #meals {
    flex-direction: column;
  }

  .meal-separate {
    display: block;
  }
}
