<% if(typeof errors != 'undefined') { %>
<% errors.forEach(function(error) { %>
<div id="snackbar" class="show">
    <%= error.msg %>
</div>
<% }); %>
<% } %>
<% if(success_msg != '') { %>
<div id="snackbar" class="show">
    <%= success_msg %>
</div>
<% } %>
<% if(error_msg != '') { %>
<div id="snackbar" class="show">
    <%= error_msg %>
</div>
<% } %>
<% if(error != '') { %>
<div id="snackbar" class="show">
    <%= error %>
</div>
<% } %>

<script type="text/javascript">
    var x = document.getElementById("snackbar");
    setTimeout(function () {
        x.className = x.className.replace("show", "");
    }, 3000);
</script>